<h1>Listing pages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Public</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.name, page %></td>
    <td><%= page.public %></td>
    <td><%= page.link %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path if can? :create, Page %>
