<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Musician Website" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Musician Website" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner navbar-inner-red" >
<!--      <nav class="navbar-inner navbar-inner-red-transparent transparent" > -->
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>

<!--    <div id="main" role="main"> -->
    <div class="container-fluid main-container">
<!--      <div class="row-fluid">
	<div class="span6">
	  Pianist ~~~ Cellist ~~~ Organist
	</div>
      </div> -->
      <div class="row-fluid">
        <div class="span6 content transparent keyboard-left">
              <%= render 'layouts/messages' %>
              <%= yield %>
	</div>
          <footer>
          </footer>
      </div>
    </div>
<!--    </div> -->

  </body>
</html>
